{
    "extends": "eslint:recommended",
    "rules": {
        "comma-dangle": 0,
        "no-console": 0,
        "no-var": "error",
        "prefer-const": "warn",
        "prefer-arrow-callback": "error"
    },
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
        "hexo": true
    }
}
